@tailwind base;
@tailwind components;
@tailwind utilities;

w
body{
    overflow-x: hidden;
    background-color: #fafafa;
    user-select: none !important;
}

:root {
    --primary-color: '#5d3ebc';
    --brand-yellow: '#ffd300';
    --top-bar-color: 'rgb(76, 51, 152)';
}

 


 